*{
    box-sizing: border-box;
}
body{
    margin: 0;
    background-color: rgba(8, 3, 15, 1);
}
.nav{
    /* background-color: rgba(34, 31, 31, 1); */
    color: rgb(211, 205, 233);
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 13rem;
    padding: 2rem;
}
.nav ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 12rem;
}
.nav a{
    color: inherit;
    font-size:x-large;
    text-decoration: none;
}

.nav li:hover{
    color: rgba(66, 187, 255, 1);
}

.nav li.active{
    background-color: #555;
}
.hero{
    /* padding: 20px 40px; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero .purple{
    color: rgb(156, 105, 204);
}
.hero .green{
    color: aquamarine;
}
.hero .white{
    
    color: aliceblue;
}
.hero .line1{
    display: flex;
}
.hero .line2{
    display: flex;
}

@mixin white-gradient {
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}



@keyframes scroll {
	0% { transform: translateX(0); }
	100% { transform: translateX(calc(-250px * 7))}
}



.slider {
	background: rgba(8, 3, 15, 1);
	box-shadow: 0 10px 20px -5px rgba(0, 0, 0, .125);
	height: 100px;
	margin: auto;
	overflow:hidden;
	position: relative;
	width: 960px;
	
	&::before,
	&::after {
		@include white-gradient;
		content: "";
		height: 100px;
		position: absolute;
		width: 200px;
		z-index: 2;
	}
	
	&::after {
		right: 0;
		top: 0;
		transform: rotateZ(180deg);
	}

	&::before {
		left: 0;
		top: 0;
	}
	
	.slide-track {
		animation: scroll 40s linear infinite;
		display: flex;
		width: calc(250px * 14);
	}
	
	.slide {
		height: 100px;
		width: 250px;
	}
}